.core {
  padding-bottom: 60px;
  .title {
    text-align: center;
    margin-bottom: 40px;
  }
  .profileBox {
    text-align: center;
    margin-bottom: 40px;
    .cardBlock {
      width: 300px;
      max-width: 100%;
      padding: 20px 15px;
      border-radius: 12px;
      background: #3f4850 url('../../assets/img/elements/bg-profile.jpg') no-repeat top;
      background-size: 100%;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
      @media (max-width: 960px) {
        margin: 0 auto;
      }
      h3 {
        margin-bottom: 20px;
      }
      .imgBlock {
        img {
          width: 200px;
          height: 200px;
          display: block;
          margin: 0 auto 30px;
          border-radius: 50%;
        }
      }
      .infoBlock {
        p {
          margin-bottom: 8px;
        }
        :global .btn {
          margin: 20px 0 10px;
        }
      }
    }
  }
  .bucketsBox {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 25px;
    }
    .bucketBlock {
      width: 100%;
      padding: 20px 15px 15px;
      border-radius: 6px;
      background: #3f4850;
      margin-bottom: 30px;
      -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.35);
      -moz-box-shadow: 0 0 5px 0px rgba(0,0,0,0.35);
      box-shadow: 0 0 5px 0px rgba(0,0,0,0.35);
      p{
        margin-bottom: 5px;
        line-height: 1.3;
      }
      a{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .paginateLinks{
      min-height: 20px;
      margin-bottom: 20px;
      position: relative;
      .prev, .next{
        font-size: 14px;
        color: #fff;
        user-select: none;
        vertical-align: top;
        display: inline-block;
        &:hover{
          text-decoration: underline;
        }
      }
      .next{
        float: right;
      }
    }
  }
}